{{- /* Head custom content area start */ -}}
{{- /* Insert any custom code (web-analytics, resources, etc.) - it will appear in the

<head></head> section of every page. */ -}}
{{- /* Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- $customCSS := resources.Get "css/custom.css" | minify | fingerprint -}}
<link crossorigin="anonymous" rel="stylesheet" href="{{ $customCSS.RelPermalink }}" integrity="{{ $customCSS.Data.Integrity }}" />
<meta name="google-site-verification" content="x7_LCaHvViA9b_WVXqGPjUuaph9OSJR_Fl9-5aJV_fQ" />
{{- /* Head custom content area end */ -}}
